.emojis {
    font-size: 33px;
    font-weight: bold;
}

.emojis p {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    align-items: center;
    width: 222px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}